// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
// Typography
$base-font-family: $redressed;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$medium-screen: em(640) !default;
$large-screen: em(860) !default;


// Colors
$blue: #1565c0;
$blue-gray: #324766;
$ligh-blue-gray: #7F99BE;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$dark-green: #20392B;

// Font Colors
$base-font-color: darken($blue-gray, 20%);
$base-header-font-color: lighten($blue-gray, 30%);
$base-font-color-hover: white;
$action-color: $blue;

// Border
// $base-border-color: lighten($blue-gray, 30%);
$base-border-color: gainsboro;
$base-border: 1px solid $base-border-color;

// Background Colors
// $base-background-color: transparentize($base-font-color, 0.8);
$base-background-color: desaturate(darken($action-color, 20%), 30%);
$secondary-background-color: desaturate(lighten($base-border-color, 75%), 30%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
