// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// Uncomment this for a sticky footer.
.contentWrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.contentWrapper {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $contentWrapper-background-top: #7F99BE;
  $contentWrapper-background-bottom: #20392B;
  $contentWrapper-color: white;
  $gradient-angle: 10deg;
  $contentWrapper-image: '../img/old_world.jpg';

  @include background(url($contentWrapper-image), linear-gradient($gradient-angle, $contentWrapper-background-bottom, $contentWrapper-background-top), no-repeat $contentWrapper-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .contentWrapper-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .contentWrapper-copy {
      text-align: center;

      h1 {
        color: $contentWrapper-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;
        font-family: "Redressed";

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $contentWrapper-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;
        font-family: "Redressed";

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
html, body {
 height: 100%;
}

.contentWrapper:after {
  content: "";
  display: block;
}

.contentWrapper:after {
  height: 17em;

  @include media($large-screen) {
    height: 4em;
  }
}
